<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dazone.crewemail">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.dazone.crewemail.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.dazone.crewemail.permission.C2D_MESSAGE" />

    <application
        android:name=".DaZoneApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <provider
            android:name=".database.AppContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false" />

        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <!--  <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
                  &lt;!&ndash;<action android:name="android.intent.action.SEARCH" />&ndash;&gt;
              </intent-filter>-->

        </activity>

        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activities.ListEmailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity
            android:name=".activities.SignUpWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.setting.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivityMailCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivityMailDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrganizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MoveMailBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MailProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.setting.GeneralSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.setting.NotificationSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.setting.PinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />

        <activity
            android:name=".activities.ReadDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name=".activities.SearchEmailResultActivity"-->
        <!--android:screenOrientation="portrait">-->
        <!--<meta-data android:name="android.app.searchable"-->
        <!--android:resource="@xml/searchable"/>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.SEARCH" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e6dc8dc44d50c707a1d41e554996e4e01de83774" />
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.dazone.crewemail" />
            </intent-filter>
        </receiver>
        <service
            android:name=".gcm.GcmIntentService"
            android:enabled="true" />

    </application>

</manifest>
